@model MvcUniJudje.Models.Pass

@{
    ViewBag.Title = "Пароль";
}



@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @style="font-weight: bold; color: red;"})
    
    <fieldset style="position: relative; left: 3%; width: 94%;">
        <legend>Пароль полльзователя @Model.Name: </legend>

        <input type="submit" value="Сгенерировать новый пароль" name="NewPass" />

        @if (ViewBag.NewPassword != null)
        {
            using (Html.BeginForm("SentPassword", "User", FormMethod.Get))
            {
                if (Convert.ToString(ViewBag.NewPassword).Length >= 6)
                {
            @Html.TextBox("passwo", (String)ViewBag.NewPassword, new { @class = "border-color-dark" })
                }
                else
                {
                    @Html.TextBox("passwo", (String)ViewBag.NewPassword, new { @class = "border-color-red" })
                }
            <input type="submit" value="Сохранить" name="NewPassSave" />
            }
        }

        <br />
         <fieldset style="position: relative; left: 3%; width: 94%;">
        <legend>Пароль полльзователя @Model.Name: </legend>
        @Html.Label("Ключ : ")
        <div>
            @Html.TextBoxFor(x => x.Key)
        </div>
        <input type="submit" value="Показать" name="Show" />
        <br />
        @if (!Model.Key.IsEmpty())
        {
            @Html.Label("Пароль : ");
            <div>
                @Html.TextBox("pass", (String)ViewBag.NewPassword)
            </div>

            <br />
   
        }
             </fieldset>
    </fieldset>
    @Html.ActionLink("Вернуться назад", "Index")
    <br />
}
